/* no outline or underline on links */
a,
a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

/* link colour transition */
a,
a:focus {
    color: #1986e6;
}

a:hover,
a:active {
    color: #ff8000;
}

footer a,
footer a:focus {
    color: #ffffff;
}

footer a:hover,
footer a:active {
    color: #141414;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #777777;
}

a,
.social-icon .fa,
#to-top {
    transition-duration: 300ms;
    transition-timing-function: linear;
}

/* link shadow */
@media only screen and (min-width: 768px) {
    /* for desktop */
    a:hover,
    a:active {
        text-shadow: 1px 1px #efefef, 2px 2px #cccccc;
    }
}

.btn:hover,
.btn:active,
.navbar a:hover,
.navbar a:active,
footer a:hover,
footer a:active {
    text-shadow: none;
}

/* responsive image size */
img {
    max-width: 100%;
}

/* to top button */
#to-top {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0.8;
    background-color: #3399ff;
    color: #ffffff;
}

#to-top:hover {
    opacity: 1;
}

#to-top span {
    width: 40px;
    text-align: center;
    margin-top: 12px;
}

#to-top.affix {
    position: fixed;
    bottom: 20px;
    right: 40px;
}

#to-top.affix-bottom {
    position: absolute;
    right: 40px;
}

/* fixed navbar */
body {
    padding-top: 50px;
}

/* navbar colour */
nav ul li:hover,
nav ul li:active {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 300ms;
}

/* display dropdown menu when hovering */
@media only screen and (min-width: 768px) {
    /* for desktop */
    .navbar-nav > li:hover .dropdown-menu {
        display: block;
    }
}

/* sticky footer */
html {
    position: relative;
    min-height: 100%;
}

/* footer */
footer {
    background-color: #3399ff;
    color: #ffffff;
    padding: 20px 40px;
    margin-top: 20px;
    text-align: left;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer p {
    display: inline;
}

footer .social-icon {
    float: right;
    margin-bottom: 0px;
}

@media only screen and (max-width: 800px) {
    /* for tablet and small screen */
    footer {
        padding: 10px 20px;
        font-size: 12px;
    }
}

/* social icon */
.social-icon .fa:hover {
    color: #141414;
}
